.left_container {
    margin: 8px;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 85vh;
    max-width: 1100px;
    margin: 0 auto;

    &-about {
        border: 1px solid rgba(82, 82, 82, 0.634);
        border-radius: 8px;
        padding: 16px;
    }

    &__logo {
        width: 450px;
        height: 450px;
        align-items: center;
        border-radius: 50%;
        box-shadow: -36px 25px 58px -26px rgba(124, 124, 125, 1);

        @media only screen and (max-width: 1000px) {
            width: 200px;
            height: 200px;
            box-shadow: -12px 8px 55px -14px rgba(124, 124, 125, 1);
        }
    }

    &__icons {
        width: 200px;
        display: flex;
        justify-content: space-between;

        svg {
            width: 40px;
            cursor: pointer;
        }
    }

    .left_side {
        width: 50%;
        display: flex;
        justify-content: center;

        @media only screen and (max-width: 1000px) {
            width: 100%;
        }
    }

    .right_side {
        width: 50%;
        text-align: center;

        h1 {
            font-size: 100px;
            margin-bottom: 0px;

            @media only screen and (max-width: 1000px) {
                font-size: 50px;
                margin-top: 0px;
            }
        }

        p {
            font-size: 20px;
        }

        &-btn {
            width: 200px;
            font-size: 30px;
            padding: 16px;
            margin: 32px 0;
            background-color: blue;
            border-radius: 16px;
            text-align: center;
            transition: all 0.4s ease-in-out;
            cursor: pointer;

            &-container {
                display: flex;
                justify-content: space-around;
            }

            a {
                color: white;
                font-weight: bold;
                text-decoration: none;
            }

            &:hover {
                background-color: rgb(68, 68, 250);
            }

            @media only screen and (max-width: 1000px) {
                width: 160px;
                font-size: 15px;
                margin: 0 8px;
            }
        }

        @media only screen and (max-width: 1000px) {
            width: 100%;

        }
    }

    @media only screen and (max-width: 1000px) {
        height: 75vh;

    }
}